{relx, [{release, {minigen, "0.0.1"},
         [minigen]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{erl_opts, [debug_info]}.
{src_dirs, ["src", "gen/src"]}.

{profiles, [
    {test, [{src_dirs, ["src", "test", "gen/src", "gen/test"]}]},
    {prod, [{relx, [{dev_mode, false},
                        {include_erts, true}]}
         ]}
]}.

{project_plugins, [rebar_gleam]}.

{deps, [
    {gleam_stdlib, "0.14.0"}
]}.
